*{
    margin: 0;
}
#keypadCustomUI{
    position: fixed;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    background: #ffffff;
    z-index: 99999;
    top: 440px;
    width: 98%;
    left: 0px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    gap: 20px; /* 점 사이 간격 */
    justify-content: center;
    align-items: center;
}
#keypadCustomUI input{
    display: none;
}
.dot{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
}
.dot.fill{
    background-color: black;
}