.reviews input{
    width: 70%;
}
.reviews button{
    background-color: rgb(13, 14, 14);
}
.reviewers ul{
    list-style: none; /* 동그라미 제거 */
}
.reviewer ul{
    padding: 0;
    margin: 0;
    display: flex; /* 한 줄로 배치 */
    gap: 10px; /* 항목 간격 */
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 70%;
    margin-left: 10%;
}
.reviewer ul li:nth-child(1){
    background-color: rgb(228, 233, 228);
    width: 10%;
    border-radius: 80px;
}
.reviewer ul li:nth-child(2){
    width: 70%;
    border-radius: 50px;
}
.reviewer ul li:nth-child(3){
    width: 10%;
    border-radius: 10px;
    font-size: 10px;
}
.reviewer li{
    margin: 0;
}