.container{
    display: flex;
    width: 100%;
}
.selectContainer{
    border : 1px solid rgb(192,192,192);
    padding: 10px;
    width: 100%;
}
.selectTab > ul{
    display: flex;
    gap: 10px;
    margin: 20px;
}
.selectTab > ul > li{
    display: flex;
    justify-content: center;
    justify-items: center;
    border : 1px solid rgb(192,192,192);
    border-radius: 30px;
    width: 100%;
}
.orderStatusList > ul{
    display: flex;
    gap: 10px;
}
.orderStatusList > ul > li{
    display: flex;
    justify-content: center;
    justify-items: center;
    border : 1px solid rgb(192,192,192);
    border-radius: 5px;
    width: 30%;
}



.resultContainer{
    border: 1px solid rgb(192,192,192);
    padding: 40px;
    width: 30%;
}